@import url(./Gerais.css);

body {
    background-color: var(--meianoite);
}

/* GRID */

/* .border {
    border: 1px solid white;
} */

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
}

header {
    grid-area: header;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040f15;
    border-bottom: 1px solid #071723;
}

header > div > img {
    width: 150px;
}

#left {
    grid-area: left;
}

#main {
    grid-area: main;
    padding: 30px;
    border-left: 1px solid #071723;
    border-right: 1px solid #071723;
}

#right {
    grid-area: right;
}

footer {
    grid-area: footer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
    background-color: #040f15;
    border-top: 1px solid #071723;
}

/* Header */

.navigation {
    display: flex;
    align-items: center;
    column-gap: 70px;
    list-style: none;
    padding: 10px;
    opacity: 0.5;
}

.navigation-link {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.navigation-link:hover {
    color: var(--red);
}

.navigation-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--blue);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

/* Poderes */

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--red);
}

.IMG-picada {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--red);
}

.img-poderes {
    display: flex;
    gap: 10px;
}

.img-poderes > img {
    width: 230px;
    height: 160px;
    border-radius: 10px;
}

/* Footer */

.rodape {
    display: flex;
    align-items: center;
    gap: 20px;
}

.IMG-rodape {
    width: 35px;
    height: 35px;
}

.navigation-social2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation-social2 svg {
    width: 25px;
    height: 25px;
    transition: all 0.4s;
}

.navigation-social2 svg:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* Media Query */

@media only screen and (max-width: 480px) {

    *{
        font-size: 14px;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #main {
        grid-area: main;
        padding: 20px;
        border-left: 1px solid #071723;
        border-right: 1px solid #071723;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        list-style: none;
        opacity: 0.5;
    }
    
    .navigation-link {
        font-weight: 0;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: var(--red);
    }

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        color: var(--red);
    }

    .IMG-picada {
        width: 100%;
        height: 100px;
        border-radius: 10px;
    }

    .img-poderes {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .img-poderes > img {
        width: 100%;
        border-radius: 10px;
    }

    footer {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.3;
        background-color: #040f15;
        border-top: 1px solid #071723;
    }

    .rodape {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .IMG-rodape {
        width: 20px;
        height: 20px;
    }
    
    .navigation-social2 {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .navigation-social2 svg {
        width: 20px;
        height: 20px;
        transition: all 0.4s;
    }


    /* Display None */

    #left {
        display: none;
    }

    #right {
        display: none;
    }

    .rodape > p {
        display: none;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #main {
        grid-area: main;
        border-left: 1px solid #071723;
        border-right: 1px solid #071723;
    }

    footer {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.3;
        background-color: #040f15;
        border-top: 1px solid #071723;
    }

    /* Display None */

    #left {
        display: none;
    }

    #right {
        display: none;
    }
}

/* FIM */